body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #070c24;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: white;
    margin: 20px;
}

.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #006dbc;
}

.container .imgBx::before {
    content: 'Nike';
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    opacity: .1;
    font-size: 8em;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
}

.container .imgBx img {
    width: 700px;
    position: relative;
    transform: rotate(-25deg);
    left: -50px;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: .8em;
    color: #444
}

.container .details h2 span {
    font-size: .4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999
}

.container .details p {
    text-align: right;
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}

.container .details button {
    background: #006dbc;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    cursor: pointer;
}

@media(max-width:967px) {
    .container {
        height: auto;
    }

    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transition: .5s;
        transform: rotate(0deg);
    }

    .container .imgBx::before {
        font-size: 15vw;
    }

    .container .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

    .container .details p {
        max-width: 100%;
        margin-left: 0;
        text-align: justify;
    }

    .container .details h3 {
        font-size: 1.5em;
    }

    .container .details button {
        padding: 1vw 1.5vw;
        margin-top: 6px;
        font-size: 2vw;
    }
}