@font-face {
    font-family: "poppins";
    src: url('font/Poppins-Regular.otf');
}

@font-face {
    font-family: "poppins bold";
    src: url('font/Poppins-SemiBold.otf');
}

@font-face {
    font-family: "poppins light";
    src: url('font/Poppins-Light.otf');
}

html,
body {
    background-color: #c5c5c9;
    height: 100%;
    color: #fff;
    font-family: 'poppins';
}


#main {
    height: 95%;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 5px;
    box-shadow: -8px 10px 10px rgba(64, 64, 65, 0.3);
    background-color: #ffffff;

}


.navbar {
    position: relative;
    z-index: 2;
    font-size: .8rem !important;
}

.navbar-brand {
    font-family: 'poppins bold' !important;
    font-size: 1.1rem !important;
}

.navbar-brand::first-letter {
    border-bottom: 2px solid white;
    padding: 0;
}

.navbar a {
    color: #fff !important;
    font-size: 0.8rem;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu a:hover {
    background: none;
    color: #035ad4 !important;
}

.form-inline #btn1 {
    background: #035ad4;
    color: white;
    border: none;
    padding: 5.5px 10px !important;
}

.form-inline #btn2 {
    background: #fff;
    border: none;
    padding: 5.5px 10px !important;
    color: #2a364e;
}

.form-inline #btn3 {
    background: transparent;
    border: 2px solid white;
    padding: 1px 10px !important;
    color: #fff;
}

.form-inline #btn3 span {
    font-size: 1rem;
}


.jumbotron {
    height: 75%;
    background-image: url(img/1.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    top: -15%;
}

.jumbotron::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #2a364e, #2a364e);
    bottom: 0;
    opacity: .5;
}

.content h1 {
    font-size: 3rem;
}

.content h1 span {
    font-family: 'poppins bold';

}

.content p {
    font-size: 1rem;
}

.content p span {
    font-family: 'poppins bold';
}

.content {
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
}

.content .form button {
    width: 100%;
    background: #035ad4;
    color: white;
    border: none;
    padding: 5.5px 10px !important;
}

.input-group {
    border: 1px solid rgba(64, 64, 65, 0.3);
    margin-bottom: 0 !important;
}

.input-group input {
    border: none;
    font-family: 'poppins light';
    font-size: .8rem;
    opacity: .8;
}

.form button {
    font-family: 'poppins light';
    font-size: .8rem;
}

.input-group-text {
    border: none !important;
    background-color: white !important;
}

.icon {
    position: relative;
    z-index: 10;
    top: -40px;
}

.icon i {
    color: #035ad4
}

.icon p:nth-child(2) {
    color: #2a364e;
    font-size: .8rem;
}